div {
    text-align: center;
    color: white;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: rgb(133, 204, 216);
}

div{
    align-items: center;
}
#stickery1{
    max-width: 70%;
}
#png1{
    max-width: 70%;
    margin: 7px;
    
}
