div {
    text-align: center;
    color: white;
}

body{
    background-color: rgb(133, 204, 216);
}

#stickery1{
    align-items: center;
    justify-content: center;
}

#content1{
    font-size: 20px;
    font-weight: bold;

}

#intro{
    font-size: 20px;
}